<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<link rel="stylesheet" href="/assets/galleria/themes/miniml/galleria.miniml.css">
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<!-- afișează galleria cu bannerele tuturor postărilor din categorie -->
<div 
{% if page.image.feature %}
{% else %}
style="display: none" 
{% endif %} 
class="galleria">
{% if page.image.feature %}
	<img src="/images/{{ page.image.feature }}"/>  
{% endif %}
{% for c in page.categories %}
	{% for p in site.categories[c] %}	
			{% if p.image.feature %}
			<img src="/images/{{ p.image.feature }}"/>  
			{% endif %}
	{% endfor %}
{% endfor %}
</div>

<div id="main" role="main">
  <div class="article-author-side">
    <p align="left">{{ page.excerpt }}</p>
  </div>
  <div id="index">
    {% for post in site.posts %}
			{% for cat in page.categories %}
				{% if post.categories contains cat %}
				{% unless post.next %}
				  <h3>{{ post.date | date: '%Y' }}</h3>
				  {% else %}
				    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				    {% if year != nyear %}
				      <h3>{{ post.date | date: '%Y' }}</h3>
				    {% endif %}
				  {% endunless %}
				  <article>
				    {% if post.link %}
				      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
				    {% else %}
				      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
				      <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
				    {% endif %}
				  </article>
				{% endif %}    
			{% endfor %}
		{% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
<script src="/assets/galleria/galleria.js"></script>
<script src="/assets/galleria/themes/miniml/miniml.config.js"></script>
</body>
</html>
